.navbar{
    width: 100%;
    position: sticky; /* Fixed position to stay on top */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    z-index: 1000;
    display: flex;
    background-color: var(--blue-theme-nav-background-color );
    
}

.navbar__container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
   
}

.navbar__container__logo{
    color: var(--black-theme-main-color );
    cursor: pointer;
    margin-left: 30%;
    size: 10rem;
    text-align: center;
    margin-top: -10px;
    
    text-decoration: none;
   
}



.navbar__container__menu{
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 20px;    
    text-align: center;
    margin-right: 15%;
}

.navbar__container__menu__item{
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 2.5rem;



}

.navbar__container__menu__item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
}

.navbar__container__menu__item:hover::after{
    width: 100%;
    

}

.navbar__container__menu__item__links{
    color: var(--black-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
}



.nav-icon{
    display: none;
    
}

@media only screen and (max-width : 768px){
    .navbar__container__menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin-left: 50px;
        height: 80vh;
       left: -110%;
        position: absolute;
        top: 50px;
        opacity: 1;
        transition: all 0.5s ease;
        transform: translateY(5vh);
        border: 10px;
        border-radius: 10px;
        
        
               

        &.active{
            background: #AAD7D9;
            left: 0px;
            opacity: 1;        
            margin-left: 10%;
           
           
       
        
        }

        .navbar__container__menu__item__links{
            color: white;
            text-decoration: none;
            margin-top: -10px;
            
            
        }



    }

    .navbar__container__menu__item{
       
        margin: 0px;
        padding: 20px 0px; 
        color: white;
        margin-top: -10px;

    }

    .nav-icon{
        display: block;
        cursor: pointer;
        color: var(--black-theme-main-color);
        padding-right: 20px;
        margin-top: 20px;
    }

    .navbar__container__logo{
        margin-left: 0px;
    }
}

