.navbar{
    background-color: var(--blue-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
}

.navbar__container{
    display: flex;
    align-items: center;
    width: 100%;
    height: inherit;
    padding: 0px 20px;
   
}

.navbar__container__logo{
    color: var(--black-theme-main-color );
    cursor: pointer;
    margin-left: 30%;
    size: 10rem;
    text-align: center;
    margin-top: -10px;
    
    text-decoration: none;
   
}

ul li {
    color: blue;
  }

.navbar__container__menu{
    display: flex;
    gap: 30px;
    list-style: none;
    list-style-type: style text;
    
    text-align: center;
    margin-right: 15%;
}

.navbar__container__menu__item{
    line-height: 40px;
    margin-right: 1.5rem;
    font-size: 2.5rem;



}

.navbar__container__menu__item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: all 0.5s ease;
}

.navbar__container__menu__item:hover::after{
    width: 100%;
     background: var(--black-theme-main-color);
}

.navbar__container__menu__item__links{
    color: var(--black-theme-main-color);
    text-decoration: none;
    padding: 0.5rem;
}

.nav-icon{
    display: none;
}

@media only screen and (max-width : 768px){
    .navbar__container__menu{
  
        position: absolute;
        display: flex;
        gap: 60px;
        flex-direction: column;
        top: 80px;
        margin: 40px 40px 40px 40px;
        background-color: black;
        width: 90%;
        height: 100vh;
    
        

    }
    ..navbar__container__menu__item{
        margin-top: 50px;
        border-bottom: none;
    }

    .navbar__container__menu__item__links{
        color: white;
        margin-top: 40px;

    }
    .navbar__container__logo{
        margin-left: 0px;
    }
    .nav-icon{
        display: block;
    }
}

